/* Iconos */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* Efecto parallax */
.parallax-container {
    height: 500px;
   }
/* inicia estilos */
*{
  color: #CD965A;
}
header{
  background-color: #4F0112;
  padding:1% 0% 5% 0%;
}
footer{
  background-color: #4F0112 !important;
  margin: 0% !important;
}
#sidenav-overlay{
  margin-left: 300px!important;
}
#about-me{
  color: #FCEEDA !important;
}
#text-paralax {
  position: absolute;
  z-index: +1;
  padding: 8% 33% 0% 20%;
  color: #FCEEDA !important;
  font-family: 'Raleway', sans-serif;
}
.text-dancing{
  font-family: 'Dancing Script', cursive;
}
li>a, .text-raleway{
  font-family: 'Raleway', sans-serif;
}
.bg-gray {
  background: #70645F;
  padding: 3% 0px;
}
.bg-beige {
  background-color: #FCEEDA;
  padding: 3% 0px;
}
.text-rouge{
  color: #4F0112 !important;
}
.logo {
  width: 60px;
  height: 58px;
}
.block{
  display: block;
}
.background{
  background: #CD965A;
}
.card-about {
  background: #93001B !important;
  color: #FCEEDA !important;
  margin: 6% !important;
  box-sizing: border-box;
}
.card-projects {

}
.tabs{
  background: #93001B !important;
}
.tab1, .indicator {
  font-family: 'Raleway', sans-serif;
  color: #FCEEDA !important;
}
.indicator {
  background-color: #FCEEDA !important;
}
.projects {
  background: #CD965A;
  padding: 3% 0%;
  box-sizing: inherit;
}
.text-cream {
  color: #FCEEDA !important
}
.img-logos{
  width: 40px;
  height:40px;
}
.box-logos{
  margin: 5% 0%;
}
.button-projects {
  margin: 7% 4%;
}
.icon-footer{
  height: 80px;
  width: 80px;

}
